body {
    margin: 0;
    font-family: "Work Sans", sans-serif;
    font-weight: 300;
    font-size: 1.5rem;
    background-color: #8cf7ca;

}

.title {
    text-align: center;
    font-size: calc(7vw + 2rem);
    font-weight: 900;
    letter-spacing: 1px;
    margin: -0.2em, 0 0.5em ;
}

.habit-type-list {
    font-size: 1.2rem;
    line-height: 1.7;
    list-style: circle;
    padding-left: 1.1em;

}

.list-name {
    cursor: pointer;
}

.list-name:hover{
    opacity: 0.7;
}

form {
    display: flex;
}

.btn {
    cursor: pointer;
    background-color: 0;
    border: 0;
    padding: 0;
    color: inherit;
}

.btn-list {
    font-size: 1.5rem;
    font-weight: 900;
    margin-right: 0.25em;
    transition: opacity 250ms ease-in;
}

.btn-list:hover {
    opacity: 0.7;
}

.btn-habit {
    font-size: 1.5rem;
    font-weight: 900;
    margin-right: 0.25em;
    transition: opacity 250ms ease-in;
}

.btn-habit:hover {
    opacity: 0.7;
}

.new-category {
    background-color: transparent;
    border: 0;
    color: inherit;
    border-bottom: 1px solid currentColor;
    font-size: inherit;

    transition: border-bottom 150ms ease-in;
    order: 2;

}

.new-category:focus {
    border-bottom-width: 3px;
}

.new-category:focus::placeholder {
    opacity: 0.8;
}

.active-list {
    font-weight: 700;
}

.habit-list {
    --spacer: 2rem;
    display: inline-block;
    padding-left: 40px;
    background: lightcyan;
    color: black;
}

.habit-header {
    background: lightgrey;
    padding: var(--spacer);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.habit-count {
    margin: 0;
    font-size: 1rem;
}

.habit-body {
    padding: var(--spacer);
}

.habit-categoty-title {
    margin: 0 1em 0 0;
}

[type = "checkbox"] {
    opacity: 0;
    position: absolute;
}

.habit label {
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 1.25em;
}

.habit label::after {
    content: "";
    position: absolute;
    right: 0;
    left: 0;
    bottom: -50%;
    height: 1px;
    background-color: currentColor;
    opacity: 0.1;
}

.custom-checkbox{
    --size: 0.75em;
    display: inline-block;
    width: var(--size);
    height: var(--size);
    margin-right: var(--size);
    cursor: pointer;
    border: 2px solid currentColor;
    border-radius: 50%;
    transform: scale(1);
    transition: transform 300ms ease-in-out;
}

.task:hover .custom-checkbox {
    transform: scale(1.2);
}