body {
    margin: 0;
    font-family: "Work Sans", sans-serif;
    font-weight: 300;
    font-size: 1.5rem;
    background-color: #8cf7ca;

}

.title {
    text-align: center;
    font-size: calc(7vw + 2rem);
    font-weight: 900;
    letter-spacing: 1px;
    margin: -0.2em, 0 0.5em ;
}

.habit-type-list {
    font-size: 1.2rem;
    line-height: 1.7;
    list-style: circle;
    padding-left: 1.1em;

}

form {
    display: flex;
}

.btn {
    cursor: pointer;
    background-color: 0;
    border: 0;
    padding: 0;
    color: inherit;
}

.btn-list {
    font-size: 1.5rem;
    font-weight: 900;
    margin-right: 0.25em;
    transition: opacity 250ms ease-in;
}

.btn-list:hover {
    opacity: 0.7;
}

.btn-habit {
    font-size: 1.5rem;
    font-weight: 900;
    margin-right: 0.25em;
    transition: opacity 250ms ease-in;
}

.btn-habit:hover {
    opacity: 0.7;
}

.new-category {
    background-color: transparent;
    border: 0;
    color: inherit;
    border-bottom: 1px solid currentColor;
    font-size: inherit;

    transition: border-bottom 150ms ease-in;
    order: 2;

}

.new-category:focus {
    border-bottom-width: 3px;
}

.new-category:focus::placeholder {
    opacity: 0.8;
}

.active-list {
    font-weight: 700;
}

.habit-list {
    --spacer: 2rem;
    display: inline-block;
    padding-left: 40px;
    background: lightcyan;
    color: black;
}

.habit-header {
    background: lightgrey;
    padding: var(--spacer);
}

.habit-count {
    margin: 0;
}

.habit-body {
    padding: var(--spacer);
}

.habit-categoty-title {
    margin: 0;
}